<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ if .IsPage }} <meta name="description" content="{{ .Summary }}">  {{ end }}

  <title>
    {{ if not .IsHome }}
      {{ .Title }}
    {{ else }}
      {{ $.Site.Title }}
    {{ end }}
  </title>

  <link rel="icon" href="{{.Site.BaseURL}}favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}favicon-32x32.png">
  <link rel="apple-touch-icon" href="{{.Site.BaseURL}}apple-touch-icon.png">

  <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.Params.favicon | relURL }}" />
  {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" (not hugo.IsProduction)) }}
  {{ $sass := resources.Get "css/main.scss" }}
  {{ $style := $sass | css.Sass $options | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $style.Permalink | relURL }}" integrity="{{ $style.Data.Integrity }}" />
  {{ if .Params.mathjax }} {{ partial "mathjax.html" . }} {{ end }}
</head>
